@media screen and (max-width: 768px) {
  #team-sec .container,
  #header-sec .container,
  #contact-sec .container,
  #about-sec .container,
  #testimonials-sec .container,
  #services-sec .container {
    max-width: unset;
  }

  #testimonials-sec .carousel-inner p {
    padding: 0px;
  }

  #about-sec .img-wrap {
    margin-bottom: 80px;
  }

  header h1 {
    font-size: 30px;
  }

  .navbar-nav {
    text-align: center;
    background-color: white;
    font-size: 13px;
    padding: 22px 20px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    color: #343434;
    margin: 10px;
  }
}

@media screen and (min-width: 768px) {
  #team-sec .container,
  #header-sec .container,
  #contact-sec .container,
  #about-sec .container,
  #services-sec .container {
    max-width: 750px;
  }

  #testimonials-sec .carousel-inner p {
    padding: 0px;
  }

  #about-sec .img-wrap {
    margin-bottom: 80px;
  }

  header h1 {
    font-size: 44px;
  }

  .navbar-nav {
    text-align: center;
    background-color: white;
    font-size: 13px;
    padding: 22px 20px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    color: #343434;
    margin: 10px;
  }
}

@media screen and (min-width: 992px) {
  #team-sec .container,
  #header-sec .container,
  #contact-sec .container,
  #about-sec .container,
  #testimonials-sec .container,
  #services-sec .container {
    max-width: 970px;
  }

  #testimonials-sec .carousel-inner p {
    padding: 0px 86px;
  }

  #contact-sec .container {
    padding: 0px 100px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    margin: 19px;
    font-size: 14px;
    color: #ffffff;
  }

  .navbar-nav {
    background-color: transparent;
  }
}

@media screen and (min-width: 1200px) {
  #team-sec .container,
  #header-sec .container,
  #contact-sec .container,
  #about-sec .container,
  #testimonials-sec .container,
  #services-sec .container {
    max-width: 1170px;
  }

  #testimonials-sec .carousel-inner p {
    padding: 0px 86px;
  }

  #contact-sec .container {
    padding: 0px 110px;
  }

  header h1 {
    font-size: 60px;
  }
}
